{% extends "layout.html" %}
{% block body %}

    {% if session.username %}
        <div class="container">
            <main class="form rounded shadow">
                <form class="needs-validation" novalidate method="post"
                      action="{{ url_for('class_subjects.edit', cc_identity=course_class['id'], cs_identity=class_subject['id']) }}">
                    <h1 class="h3 mb-3 fw-normal text-center">Alterar Assunto</h1>
                    <div class="form-floating mb-2">
                        {% if form.title.errors %}
                            {{ form.title(class='form-control is-invalid', placeholder='Assunto da disciplina') }}
                        {% else %}
                            {{ form.title(class='form-control', placeholder='Assunto da disciplina') }}
                        {% endif %}
                        {{ form.title.label }}

                        {% if form.title.errors %}
                            <div class="invalid-feedback">
                                {% for error in form.title.errors %}
                                    {{ error }}<br/>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-floating mb-2">
                        {{ form.previous_subject(class='form-select', placeholder='Assunto anterior') }}
                        {{ form.previous_subject.label }}
                    </div>
                    <div class="form-floating mb-2">
                        {{ form.next_subject(class='form-select', placeholder='Assunto posterior') }}
                        {{ form.next_subject.label }}
                    </div>
                    <div class="form-floating mb-3">
                        {{ form.support_material(class='form-control', placeholder='Material de apoio') }}
                        {{ form.support_material.label }}
                    </div>
                    <div class="form-floating mb-3">
                        Assunto inicial?&nbsp;&nbsp;&nbsp;
                        {% for subfield in form.initial %}
                            <div class="form-check form-check-inline">
                                {{ subfield(class='form-check-input') }}
                                {{ subfield.label(class='form-check-label') }}
                            </div>
                        {% endfor %}
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <button class="w-100 btn btn-lg btn-success" type="submit">
                                Alterar
                            </button>
                        </div>
                        <div class="col-6">
                            <a class="w-100 btn btn-lg btn-secondary"
                               href="{{ url_for('class_subjects.view', cc_identity=course_class['id']) }}">
                                Cancelar
                            </a>
                        </div>
                    </div>
                </form>
            </main>
        </div>
    {% endif %}

{% endblock %}