{% extends "layout.html" %}
{% block body %}

    {% if session.username %}
        <div class="mb-3 fw-normal text-center">
            <h1>{{ course_class['title'] }}</h1>
            <ol class="breadcrumb small mx-auto justify-content-center">
                <li class="breadcrumb-item">
                    <a class="link-dark" href="{{ url_for('index') }}">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a class="link-dark" href="{{ url_for('course_classes.view') }}">Minhas Disciplinas</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    Assuntos de {{ course_class['title'] }}
                </li>
            </ol>
        </div>
        <div class="mb-4 text-center">
            <button class="btn btn-lg btn-primary shadow" id="add-course-class"
                    data-bs-toggle="collapse" data-bs-target="#container-add-class-subject">
                <i class="fas fa-plus"></i>&nbsp; Adicionar assunto
            </button>
            <a class="btn btn-lg btn-secondary m-2 shadow" href="{{ url_for('course_classes.view') }}">
                <i class="fas fa-arrow-left"></i>&nbsp; Voltar à lista de disciplinas
            </a>
        </div>

        <div class="container collapse multi-collapse mb-4 {% if error %} show {% endif %}"
             id="container-add-class-subject">
            <main class="form rounded shadow">
                <form action="{{ url_for('class_subjects.view', cc_identity=course_class['id']) }}"
                      method="post" class="needs-validation" novalidate>
                    <h1 class="h3 mb-3 fw-normal text-center">Novo assunto</h1>
                    <div class="form-floating mb-2">
                        {% if form.title.errors %}
                            {{ form.title(class='form-control is-invalid',
                        placeholder='Assunto da disciplina') }}
                        {% else %}
                            {{ form.title(class='form-control',
                        placeholder='Assunto da disciplina') }}
                        {% endif %}
                        {{ form.title.label }}

                        {% if form.title.errors %}
                            <div class="invalid-feedback">
                                {% for error in form.title.errors %}
                                    {{ error }}<br/>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-floating mb-2">
                        {{ form.previous_subject(class='form-select', placeholder='Assunto anterior') }}
                        {{ form.previous_subject.label }}
                    </div>
                    <div class="form-floating mb-3">
                        {{ form.next_subject(class='form-select', placeholder='Assunto posterior') }}
                        {{ form.next_subject.label }}
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="mb-3">
                        {{ form.support_material.label(class='form-label') }}
                        {{ form.support_material(class='form-control ck-content', id='support_material',
                                                 placeholder='Escreva aqui o conteúdo do material de apoio...') }}
                    </div>
                    <button class="btn btn-lg btn-success" type="submit">
                        Criar novo assunto
                    </button>
                </form>
            </main>
        </div>

        <div class="dropdown-divider mb-5"></div>

        {% include 'class_subject/list.html' %}

        <script>
            window.addEventListener('load', (event) => {
                createCKEditor('support_material')
            })
        </script>

    {% endif %}

{% endblock %}