{% extends "layout.html" %}
{% block body %}

    {% if session.username %}
      <h1 class="mb-3 fw-normal text-center">{{ course_class['title'] }}</h1>
      <div class="mb-4 text-center">
        <button class="btn btn-lg btn-primary shadow" id="add-course-class"
                data-bs-toggle="collapse" data-bs-target="#container-add-class-subject">
                <i class="fas fa-plus"></i>&nbsp; Adicionar assunto
        </button>
        <a class="btn btn-lg btn-secondary m-2 shadow" href="{{ url_for('course_classes') }}">
            <i class="fas fa-arrow-left"></i>&nbsp; Voltar à lista de disciplinas
        </a>
      </div>

      <div class="container text-center collapse multi-collapse mb-4" id="container-add-class-subject">
        <main class="form rounded shadow">
          <form class="needs-validation" action="{{ url_for('class_subjects', cc_identity=course_class['id']) }}"
                method="post" novalidate>
            <h1 class="h3 mb-3 fw-normal">Novo assunto</h1>
            <div class="form-floating mb-2">
              <input type="text" class="form-control" id="floatingInput"
                     placeholder="Assunto da disciplina" name="subject_title" required>
              <label for="floatingInput">Assunto da disciplina</label>
            </div>
            <div class="form-floating mb-2">
                <select name="previous_subject" class="form-select" aria-label="Assunto anterior">
                    <option value="" selected>--  Nenhum assunto anterior --</option>
                    {% for row in class_subjects %}
                        <option value="{{ row.cs.id }}">{{ row.cs.title }}</option>
                    {% endfor %}
                </select>
                <label for="floatingInput">Assunto anterior</label>
            </div>
            <div class="form-floating mb-2">
                <select name="next_subject" class="form-select" aria-label="Assunto posterior">
                    <option value="">-- Nenhum assunto posterior --</option>
                    {% for row in class_subjects %}
                        <option value="{{ row.cs.id }}">{{ row.cs.title }}</option>
                    {% endfor %}
                </select>
                <label for="floatingInput">Assunto posterior</label>
            </div>
            <div class="form-floating mb-3">
                <textarea class="form-control h-100" id="floatingInput" rows="5"
                       placeholder="Material de apoio" name="support_material"></textarea>
                <label for="floatingInput">Material de apoio</label>
            </div>
            <button class="btn btn-lg btn-success mx-2" type="submit">
                Criar novo assunto
            </button>
          </form>
        </main>
      </div>

      <div class="dropdown-divider mb-5"></div>

    {% include 'display_class_subjects.html' %}

    {% endif %}

{% endblock %}