{% extends "layout.html" %}
{% block body %}

    {% if session.username %}
    <h2>Confirmar exclusão</h2>
    <form>
        <input type="submit" class="button" formaction="{{ url_for('delete_course_class', title=cc, user=session.username) }}" formmethod="post" value="Sim">
        <input type="submit" class="button" formaction="{{ url_for('open_course_class', user=session.username) }}" formmethod="post" id="cancel" value="Não">
        <input type="hidden" value="{{ cc }}">
    </form>

    {% endif %}

{% endblock %}