{% extends "layout.html" %}
{% block body %}

    {% if session.username %}
    <h2>Disciplina</h2>
    <form action="{{ url_for('create_course_class') }}" method="post">
        <dl>
            <dt>Título:</dt>
            <dd><input type="text" size="30" name="title"></dd>
        </dl>
        <input type="hidden" name="username" value="{{ session.username }}" />
        <input type="submit" value="Criar Nova Disciplina">
    </form>

    {% include 'display_course_class.html' %}

    {% endif %}

{% endblock %}