
<h2></h2>
<table class="posts" border="1">
<thead>
<tr>
    <caption><h3>Lista de Questões</h3></caption>
    <th>Título</th>
    <th>Dificuldade</th>
    <th colspan="3" align="center">Gerenciamento</th>
</tr>
</thead>

  {% for row in q %}
    <tr>
    	<td>{{ row.q.title }}</td>
        <td align="center">{{ row.q.difficulty }}</td>
        <td align="center"><a href="{{ url_for('open_edit_questions', question_id=row.q.id, cs_title=cs, cc_title=cc) }}">Alterar</a></td>
        <td align="center"><a href="{{ url_for('confirm_delete_question', id=row.q.id, cc=cc, cs=cs) }}">Excluir</a></td>
    </tr>
  {% else %}
      <tr>
    	<td colspan="4">Nenhuma questão para este assunto ainda!</td>
    </tr>
  {% endfor %}
  </table>