    <h2></h2>
    <table border="1" class="posts" name="course_class">
        <thead>
            <tr>
                <caption><h3>Lista de Disciplinas</h3></caption>
                <th align="center">Título</th>
                <th colspan="3" align="center">Gerenciamento</th>
            </tr>
        </thead>

        {% for row in cc %}
            <tr>
                <td>{{ row.cc.title }}</td>
                <td><a href="{{ url_for('open_edit_course_class', title=row.cc.title) }}"> Alterar </a></td>
                <td><a href="{{ url_for('confirm_delete_course_class', title=row.cc.title) }}"> Excluir </a></td>
                <td><a href="{{ url_for('open_class_subject', title=row.cc.title) }}"> Ver Assuntos da Disciplina </a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Nenhuma disciplina cadastrada ainda!!!</td>
            </tr>
        {% endfor %}
    </table>