<h2 class="text-center">Lista de Disciplinas</h2>
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <table class="table table-striped table-bordered shadow align-middle">
            <thead class="table-dark text-center">
                <tr>
                    <th>Título</th>
                    <th>Gerenciamento</th>
                </tr>
            </thead>

            <tbody>
            {% for row in course_classes %}
                <tr>
                    <td>
                        <a class="link-dark" href="{{ url_for('class_subjects', cc_identity=row.cc.id) }}">
                            {{ row.cc.title }}
                        </a>
                    </td>
                    <td class="text-center">
                        <form action="{{ url_for('delete_course_class', cc_identity=row.cc.id) }}"
                            method="post">
                            <a class="btn btn-info btn-sm shadow-sm m-1"
                               href="{{ url_for('class_subjects', cc_identity=row.cc.id) }}">
                                <i class="fas fa-eye"></i>
                            </a>

                            <a class="btn btn-success btn-sm shadow-sm m-1"
                               href="{{ url_for('edit_course_class', cc_identity=row.cc.id) }}">
                                <i class="fas fa-edit"></i>
                            </a>
                            <button class="btn btn-danger btn-sm shadow-sm m-1 delete-course-class"
                                    type="submit">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4" class="text-center">Nenhuma disciplina cadastrada ainda!</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-2"></div>
</div>