<h2 class="text-center">Lista de Assuntos</h2>
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <table class="table table-striped shadow align-middle">
        <thead class="table-dark text-center">
            <tr>
                <th>Título</th>
                <th>Inicial?</th>
                <th>Anterior</th>
                <th>Posterior</th>
                <th>Gerenciamento</th>
            </tr>
        </thead>
        {% for row in cs %}
            <tr>
                <td>{{ row.cs.title }}</td>
                <td class="text-center">{{ "Sim" if row.cs.initial == "True" else "Não" }}</td>
                <td class="text-center">{{ row.ps_title if row.ps_title != None else "-" }}</td>
                <td class="text-center">{{ row.ns_title if row.ns_title != None else "-" }}</td>
                <td class="text-center">
                    <a class="btn btn-info btn-sm shadow-sm me-2"
                       href="{{ url_for('open_questions', cc_title=cc, cs_title=row.cs.title) }}">
                        <i class="bi bi-eye-fill align-middle"></i>
                    </a>
                    <a class="btn btn-success btn-sm shadow-sm mx-2"
                       href="{{ url_for('open_edit_class_subject', cc=cc, title=row.cs.title) }}">
                        <i class="bi bi-pencil-square align-middle"></i>
                    </a>
                    <a class="btn btn-danger btn-sm shadow-sm ms-2 delete-class-subject"
                        href="{{ url_for('delete_class_subject', cc_title=cc, cs_title=row.cs.title) }}">
                        <i class="bi bi-x-lg align-middle"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5" class="text-center">Nenhum assunto cadastrado para esta disciplina ainda!</td>
            </tr>
        {% endfor %}
        </table>
    </div>
    <div class="col-2"></div>
</div>