{% extends "layout.html" %}
{% block body %}

    {% if session.username %}
        <h2>Alterar {{ title }}</h2>
    <form>
        <dl>
            <dt>Assunto:</dt>
            <dd><input type="text" size="30" name="subject_title" value="{{ title }}"></dd>
            <dt>Assunto anterior:</dt>
            <dd>
                <select name="previous_subject">
                    <option value="">--  Nenhum assunto anterior --</option>
                    {% for row in cs %}
                        <option value="{{ row.cs.title }}" {{ "selected" if row.cs.title == ps }}>{{ row.cs.title }}</option>
                    {% endfor %}
                </select>
            </dd>
            <dt>Assunto posterior:</dt>
            <dd>
                <select name="next_subject">
                    <option value="">-- Nenhum assunto posterior --</option>
                    {% for row in cs %}
                        <option value="{{ row.cs.title }}" {{ "selected" if row.cs.title == ns }}>{{ row.cs.title }}</option>
                    {% endfor %}
                </select>
            </dd>
            <dt>Material de apoio:</dt>
            <dd><textarea name="support_material" cols="67" rows="3">{{ support_material if support_material != None }}</textarea></dd>
            <input type="hidden" name="cc" value="{{ cc }}" />
            <input type="hidden" name="title" value="{{ title }}" />
        </dl>
        Assunto Inicial?
        <input type="radio" class="ini" name="checkbox_initial" value="True" {{ "checked" if initial == "True"}}> Sim
        <input type="radio" class="ini" name="checkbox_initial" value="False" {{ "checked" if initial == "False"}}> Não <br> <br>
        <input type="submit" class="button" formaction="{{ url_for('edit_class_subject') }}" formmethod="post" value="Salvar">
        <input type="submit" class="button" formaction="{{ url_for('open_class_subject', title=cc) }}" formmethod="post" id="cancel" value="Cancelar">
    </form>

    {% endif %}

{% endblock %}