{% extends "layout.html" %}
{% block body %}

    {% if session.username %}
    <h2>Alterar Disciplina</h2>
    <form>
        <dl>
            <dt>Título:</dt>
            <dd><input type="text" size="30" name="new_title" value="{{ cc }}" required></dd>
        </dl>
        <input type="hidden" name="cc" value="{{ cc }}">
        <input type="submit" class="button" formaction="{{ url_for('edit_course_class', user=session.username) }}" formmethod="post" value="Alterar">
        <input type="submit" class="button" formaction="{{ url_for('open_course_class', user=session.username) }}" formmethod="post" id="cancel" value="Cancelar">
    </form>

    {% endif %}

{% endblock %}