<!doctype html>
<html class="h-100">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
        <link href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='node_modules/bootstrap-icons/font/bootstrap-icons.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='node_modules/@fortawesome/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-sortable.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <title>Tutor Neo4J</title>
    </head>
    <body class="d-flex flex-column h-100">
        {% include 'messages.html' %}
        {% include 'header.html' %}
        <main class="flex-shrink-0">
            <div class="container mt-5 mb-5">
                {% block body %}
                {% endblock %}
            </div>
        </main>
        {% include 'footer.html' %}
        <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='node_modules/moment/min/moment.min.js') }}"></script>
        <script src="{{ url_for('static', filename='util/ckeditor/ckeditor.js') }}"></script>
        <script src="{{ url_for('static', filename='javascripts/bootstrap-sortable.js') }}"></script>
        <script src="{{ url_for('static', filename='javascripts/custom.js') }}"></script>
    </body>
</html>