<!doctype html>
<title>IF Tutor</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<div class="page">
<h1>IF tutor</h1>
<h3>Tutor Utilizando Base de Dados em Grafo</h3>
<div class="metanav">
    {% if session.username %}
        <p id="initial" class="session"> Olá {{ session.person_name }} </p>
    {% endif %}
    <p class="session" ><a href="{{ url_for('index') }}">Página Inicial</a></p>
    {% if not session.username %}
        <a href="{{ url_for('register') }}">Cadastrar</a>
        <a href="{{ url_for('login') }}">Entrar</a>
    {% else %}
        {% if session.type == 'teacher' %}
            <a href="{{ url_for('open_course_class', user=session.username) }}" class="session" >Disciplina</a>
        {% else %}
            <a href="{{ url_for('open_course_class_student', user=session.username) }}" class="session" >Disciplina</a>
        {% endif %}
        <a href="{{ url_for('logout') }}" class="session" >Sair</a>
    {% endif %}
</div>
{% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
{% endfor %}
{% block body %}{% endblock %}
</div>