body{
    background: whitesmoke !important;
}

.form-signin {
    width: 100%;
    max-width: 430px;
    padding: 15px;
    margin: auto;
    background-color: white;
  }
  
.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input {
    margin-bottom: 5px;
    border-color: darkgray;
}

.form {
    width: 100%;
    max-width: 630px;
    padding: 15px;
    margin: auto;
    background-color: white;
  }